# ------------------------------------------------------------------------
# All ignore
# ------------------------------------------------------------------------
/**
/.**

# ------------------------------------------------------------------------
# /
# ------------------------------------------------------------------------
!/.curlrc
!/.gitconfig
!/.gitignore
!/.profile
!/.zprofile
!/.zshenv
!/.zshrc
!/entry_point.sh
!/Makefile
!/README.md

# ------------------------------------------------------------------------
# /.dotconfig
# ------------------------------------------------------------------------
!/.dotconfig

!/.dotconfig/apt
!/.dotconfig/apt/apt_template.conf

!/.dotconfig/docker
!/.dotconfig/docker/docker_template

!/.dotconfig/homebrew
!/.dotconfig/homebrew/Brewfile

!/.dotconfig/local_template
!/.dotconfig/local_template/.gitconfig.local_template
!/.dotconfig/local_template/.zlocal_template
!/.dotconfig/local_template/wsl.conf_template

!/.dotconfig/maven
!/.dotconfig/maven/settings.xml

!/.dotconfig/vscode
!/.dotconfig/vscode/keybindings.json
!/.dotconfig/vscode/settings.json

!/.dotconfig/wget
!/.dotconfig/wget/wgetrc_template

!/.dotconfig/zsh
!/.dotconfig/zsh/profile
!/.dotconfig/zsh/rc
!/.dotconfig/zsh/rc/alias.zsh
!/.dotconfig/zsh/rc/appearance.zsh
!/.dotconfig/zsh/rc/bat.zsh
!/.dotconfig/zsh/rc/bindkey.zsh
!/.dotconfig/zsh/rc/completion.zsh
!/.dotconfig/zsh/rc/history.zsh
!/.dotconfig/zsh/rc/homebrew.zsh
!/.dotconfig/zsh/rc/wordstyle.zsh
!/.dotconfig/zsh/rc/setopt.zsh
!/.dotconfig/zsh/rc/xxenv.zsh
!/.dotconfig/zsh/rc/zinit.zsh

# ------------------------------------------------------------------------
# /doc
# ------------------------------------------------------------------------
!/doc

!/doc/strategy_example.drawio.svg
!/doc/strategy.drawio.svg

# ------------------------------------------------------------------------
# /setup
# ------------------------------------------------------------------------
!/setup

!/setup/deploy
!/setup/deploy/linux
!/setup/deploy/linux/deploy_apt.sh
!/setup/deploy/linux/deploy_aws.sh
!/setup/deploy/linux/deploy_docker.sh
!/setup/deploy/linux/deploy_home.sh
!/setup/deploy/linux/deploy_maven.sh
!/setup/deploy/linux/deploy_vscode.sh
!/setup/deploy/linux/deploy_wget.sh
!/setup/deploy/linux/util_deploy.sh
!/setup/deploy/windows
!/setup/deploy/windows/deploy_home.sh
!/setup/deploy/windows/deploy_maven.sh
!/setup/deploy/windows/deploy_vscode.sh
!/setup/deploy/windows/util_deploy.sh
!/setup/deploy/windows/util_mklink.sh
!/setup/deploy/deploy_apt_linux.sh
!/setup/deploy/deploy_aws_linux.sh
!/setup/deploy/deploy_docker_linux.sh
!/setup/deploy/deploy_home_linux.sh
!/setup/deploy/deploy_home_windows.sh
!/setup/deploy/deploy_maven_linux.sh
!/setup/deploy/deploy_maven_windows.sh
!/setup/deploy/deploy_vscode_windows.sh
!/setup/deploy/deploy_wget_linux.sh

!/setup/init
!/setup/init/init_homebrew.sh
!/setup/init/init_wsl.sh
!/setup/init/init_zinit.sh
!/setup/init/linux
!/setup/init/linux/init_corretto.sh
!/setup/init/linux/init_homebrew.sh
!/setup/init/linux/init_wsl.sh
!/setup/init/linux/init_zinit.sh
!/setup/init/windows
!/setup/init/windows/.gitkeep